UNO_DB_PASSWORD=change-this-strong-password
UNO_DB_NAME=uno_online
UNO_PORT=5555
UNO_VOICE_PORT=5556
UNO_WEB_PORT=8080
UNO_DB_POOL=8
UNO_SESSION_TTL_HOURS=72
UNO_PUBLIC_DOMAIN=72.155.88.239.sslip.io
ACME_EMAIL=admin@example.com
HTTP_PORT=80
HTTPS_PORT=443
TURN_PORT=3478
TURN_USER=uno
TURN_PASSWORD=uno-turn-pass
TURN_PUBLIC_IP=72.155.88.239
